
/* BOILERPLATE STYLING */


*:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
    
}

body {
	font-family: 'Baskervville', serif;
	color: black;
	background-color: rgb(240, 240, 240);
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3 {
	font-family: 'Anton', sans-serif;
}

h1 {
    padding: 50px;
}





/* HEADER MAIN FOOTER NAV STYLING */

header {
    border: solid 1px black;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(42,42,42);
    color: white;
    height: 100px;
    width: 100vw;;
}

main {
    border: solid 1px red;
    height: calc(100vh - 150px);
    width: 100vw;
    display: flex;
    justify-content: center;
    
    

}



footer {
   /* border: solid 1px blue; */
    background-color: rgb(42,42,42);
    height: 50px;
    color: white;
    display: flex;
    justify-content: center; 
    width: 100vw;
}
   


/* MISC */

.error-message {
    margin: 0;
    padding: 0;
}


.border {
    border: solid 1px purple;
}



/* ADD WORKOUT BUTTON MODAL */


#add-workout-section {
    border: solid 1px lightgreen; 
    background-color: lightgrey;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    

}

.add-workout-modal-container { 
    display: none; 
    z-index: 1; 
    position: fixed; 
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    
    
}

.add-workout-modal-content { 
    background-color: #fefefe;
    margin: 300px auto;
    width: 400px;
    max-width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5%;

}

#cancel1 {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 25px;
    border-radius: 50%;
    padding: 5px 15px;
    border: solid 1px black 
    
    
}

#cancel1:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#your-workout-header {
    margin-bottom: 20px;
}

#add-workout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    
    /* border: solid 3px purple; */
    
}

.form-input-sections-workout {
    margin: 15px;
}


.workout-form-input-sections-label {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 10px;
    
    
}

#workout-h3-btn-container {
    background-color: lightgoldenrodyellow;
    padding: 5px;
    border: solid 1px purple;
}




/* WORKOUT ITEMS DISPLAYED IN DOM */

#your-workouts-display {
    border: solid 1px black; 
    width: 80%
}

.workout-items {
    font-size: xx-small;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    border-radius: 10%;
    gap: 1px;
    border: solid 1px black;
    padding: 5px;
    
}

.workout-items:hover {
    background-color: grey;
}

.add-workout-list-item-date {
    border: solid 1px yellow;
    margin: 0;
}

.add-workout-list-item-time {
    border: solid 1px blue;
    margin: 0;
}

.add-workout-list-item-workout-type {
    border: solid 1px green;
    margin: 0;
}















/* ADD EXERCISE BUTTON MODAL */

#add-exercise-section {
    background-color: white;
    border: solid 1px yellow; 
    width: 80%;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/

    
}

.add-exercise-modal-container { 
    display: none; 
    z-index: 1; 
    position: fixed; 
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    /* Overlay background */
    
}

.add-exercise-modal-content { 
    background-color: #fefefe;
    margin: 300px auto;
    width: 400px;
    max-width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5%;

}

#cancel2 {
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 25px;
    border-radius: 50%;
    padding: 5px 15px;
    border: solid 1px black
}

#cancel2:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.error-message {
    color: red;
}

#your-exercise-header {
    margin-bottom: 20px;
}

#add-exercise-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    
    /* border: solid 3px purple; */
    
}

.form-input-sections-exercise {
    margin: 15px;
}

.exercise-form-input-sections-label {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 10px;
    
    
}



/* EXERCISE ITEMS DISPLAYED IN DOM */


#your-exercise-display {
    border: solid 1px black; 
    width: 100%
    

}

.exercise-items {
    font-size: xx-small;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    border-radius: 10%;
    gap: 1px;
    border: solid 1px black;
    padding: 5px;
}

.exercise-items:hover {
    background-color: grey;
}

.add-exercise-list-item-name {
    border: solid 1px yellow;
    margin: 0;
}

.add-exercise-list-item-sets {
    border: solid 1px blue;
    margin: 0;
}

.add-exercise-list-item-reps {
    border: solid 1px purple;
    margin: 0;
}

.add-exercise-list-item-rest {
    border: solid 1px brown;
    margin: 0;
}

.add-exercise-list-item-rir {
    border: solid 1px red;
    margin: 0;
}

















/* DEFAULT EXERCISE SECTION DYNAMIC DOM */


.default-exercise-sect-div {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}












































/* 
    PART 1 - INITIAL UI
    // BASIC UI DESIGN PROCESS SO IT RESEMBLES MY WIREFRAME
    // LHS NAV WITH THE ADD WORKOUT BUTTON AND RESULTS
    // RHS INNER WINDOW TO DISPLAY EXERCISES BUTTON AND RESULTS 
*/









/* 

// LOGIC TO BE BUILT
    // WHEN CLICKING ADD BUTTON AND CLICKING OUT, ERROR MESSAGES TO BE RESET
    // LINK A PAGE THAT ASSOCIATES TO THE WORKOUT ADDED, WHERE THE EXERCISE BUTTON PAGE WILL SHOW
    // EACH WORKOUT SHOWS ONLY THE EXERCISES FOR THAT WORKOUT



*/


