
/* BOILERPLATE STYLING */



*:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
    
}

body {
	font-family: 'Roboto', sans-serif;
	color: black;
	background-color: rgb(240, 240, 240);
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*h1, h2, h3 {
	
}*/

h1 {
    padding: 50px;
}





/* HEADER MAIN FOOTER NAV STYLING */

header {
    /*border: solid 1px black;*/
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #131313;
    color: white;
    height: 100px;
    width: 100vw;;
}

main {
    /*border: solid 1px red;*/
    height: calc(100vh - 150px);
    width: 100vw;
    display: flex;
    justify-content: center;
    
    

}


footer {
   /* border: solid 1px blue; */
    background-color: #131313;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center; 
    width: 100vw;
}
   


/* MISC */

.error-message {
    margin: 0;
    padding: 0;
    font-size: x-small;
}

.border {
    /*border: solid 1px purple;*/
}



/* ADD WORKOUT SECTIONS MODAL */


#add-workout-section {
    /*border: solid 1px lightgreen; */
    background-color: #2e2e2e;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    

}

.add-workout-modal-container { 
    display: none; 
    z-index: 1; 
    position: fixed; 
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    
    
}



.add-workout-modal-content { /* INPUT FORM */
    background-color: #131313;
    margin: 200px auto;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5%;
    color: #FAFAFA;
    border: solid 1px #393939
    

}

#cancel1 {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 50%;
    color: #FFE600
    
    
}

#cancel1:hover {
    color: #cfba03;
    text-decoration: none;
    cursor: pointer;
}

#your-workout-header {
    margin-top: 50px;
    margin-bottom: 0px;
    /* border: solid 1px blue; */
}

#add-workout-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0px;
    
    /* border: solid 1px purple; */
    
}

.form-input-sections-workout {
    /* border: solid 1px yellow; */
    margin: 10px;
    box-sizing: border-box;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 5px;
}

/* .workout-form-input-sections-label {
    
} */

/* MODAL FORM WORKOUTS */


#date-picking-label {
    color:#b8b8b8
}

#date-picking {
    background-color: #2f2e2e;
    border: #858585;
    border-radius: 4px;
    color: #b8b8b8;
    padding: 5px;
    cursor: pointer
   
}

#time-picking-label {
    color: #b8b8b8
}

#date-picking::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

#time-picking {
    background-color: #2f2e2e;
    border: #858585;
    border-radius: 4px;
    color: #b8b8b8;
    padding: 5px;
    cursor: pointer;
    
}

#time-picking::-webkit-calendar-picker-indicator {
    cursor: pointer;
}
  

#workout-type-label {
    color: #b8b8b8
}

#workout-type {
    background-color: #2f2e2e;
    border: #858585;
    border-radius: 4px;
    color: #b8b8b8;
    padding: 5px;
    cursor: pointer;
    
}

#submit-workout {
    border: none;
    border-radius: 50px;
    background-color: #FFE600;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

}


#submit-workout:hover {
    background-color: #cfba03;

}








/* ADD WORKOUT SECTION + ITEMS */

#open-modal-add-workout-button {
    border: none;
    border-radius: 50px;
    background-color: #FFE600;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    margin-top: 5px; 
    cursor: pointer;
    
}

#open-modal-add-workout-button:hover {
    background-color: #cfba03;
}

#workout-h3-btn-container {
    background-color: #2e2e2e;
    padding: 20px;
    /*border: solid 1px red;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #FAFAFA;
    border-radius: 10px;
    
    
    
}

#add-workout-primary-text {
    
    /*border: solid 1px grey;*/
    margin: 0;
    padding: 0;
    
}

#add-workout-secondary-text {
    font-size: xx-small;
    margin-bottom: 0;
    padding: 0;
    color: #848484
    
    /*border: solid 1px grey;*/

}

#your-workouts-display {
    /* border: solid 1px lightslategrey; */
    width: 90%
}

.workout-items {
    font-size: xx-small;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top:  10%;
    margin-bottom: 10%;
    gap: 1px;
    /*border: solid 1px black;*/
    padding: 10px;
    position: relative;
    color: #FAFAFA;
    background-color: #525252;
    border-radius: 5px;
    cursor: pointer;
    
}

.workout-items:hover {
    background-color: rgb(104, 104, 104);
}

.add-workout-list-item-date-time {
    margin-bottom: 5px;
    color: #FFE600;
    order: 3;
    
}

.add-workout-list-item-workout-type {
    /*border: solid 1px green;*/
    margin-bottom: 0px;
    color: #FAFAFA;
    order: 1;
    font-size: x-small;
   
}

.workout-delete-button {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 5px;
    padding: 0 ;
    border: none;
    background: none;
    color: #131313;
    

}

.workout-delete-button:hover  {
    cursor: pointer;
    color: darkgrey;
}


 






















/* ADD EXERCISE SECTIONS MODAL */


#add-exercise-section { /* ENTIRE SECTION */
    background-color: #525252;
    /* border: solid 1px yellow; */ 
    width: 80%;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/

    
}

.add-exercise-modal-container { 
    display: none; 
    z-index: 1; 
    position: fixed; 
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    /* Overlay background */
    
    
}



.add-exercise-modal-content { /* INPUT FORM WHOLE*/
    background-color: #131313;
    margin: 200px auto;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5%;
    color: #FAFAFA;
    border: solid 1px #393939;
    padding-bottom: 25px;
    padding-top: 10px
}

#cancel2 {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 50%;
    color: #FFE600;
}

#cancel2:hover {
    color: #cfba03;
    text-decoration: none;
    cursor: pointer;
}

#your-exercise-header {
    margin-bottom: 20px;
    /* border: solid 1px yellow;  */
}

#add-exercise-form { /* INPUT FORM ONLY */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: solid 1px purple;  */
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 5px;  
}

.form-input-sections-exercise { /* LABEL+INPUT INDIVIDUAL */
    margin: 0px; 
    box-sizing: border-box;
    width: 80% ;
    height: 80% ;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 5px;
    /* padding: 5px; */
    /* border: solid 1px yellow; */

}

/* .exercise-form-input-sections-label {
    
} */

/* MODAL FORM EXERCISES */

#exercise-picking-label, #number-of-sets-label, #number-of-reps-label, #rest-time-label, #rir-label {
    color:#b8b8b8
}

#exercise-name, #number-of-sets, #number-of-reps, #rest-time, #reps-in-reserve {
    background-color: #2f2e2e;
    border: #858585;
    border-radius: 4px;
    color: #b8b8b8;
    padding: 5px;
    cursor: pointer
   
}


#submit-exercise {

    border: none;
    border-radius: 50px;
    background-color: #FFE600;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
    
}


#submit-exercise:hover {
    background-color: #cfba03;

}





















/* ADD EXERCISE SECTION + ITEMS */

#open-modal-exercise-button-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#open-modal-add-exercise-button {
    border: none;
    border-radius: 50px;
    background-color: #FFE600;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    margin-top: 5px; 
    cursor: pointer;

}


#open-modal-add-exercise-button:hover {
    background-color: #cfba03;

}


#exercise-h3-btn-container { /* CONTAINER FOR BUTTON & HEADER */
    background-color: #525252;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FAFAFA;
    /*border: solid 1px red;*/
   
    
}

#add-exercise-primary-text {
    
    /*border: solid 1px grey;*/
    margin: 0;
    padding: 0;
    
}

#add-exercise-secondary-text {
    font-size: xx-small;
    margin-bottom: 0;
    padding: 0;
    color: #848484
    
    /*border: solid 1px grey;*/

}

/* divs for sections */


/* divs for sections */


#your-exercise-display { /* DYNAMIC DOM DISPLAY FOR EXERCISES  */
    width: 100%;
    /*border: solid 1px yellow;*/

}

.exercise-items { /* each bubble */
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border-radius: 5px ;
    gap: 1px;
    padding: 0;
    background-color: #656565 ;
    color: #FAFAFA;
    position: relative;
}



.add-exercise-list-item-name {
    /* border: solid 1px lightgrey; */
    margin: 5%;
}

.add-exercise-list-item-sets {
    /* border: solid 1px lightgrey; */
    margin: 5%;
}

.add-exercise-list-item-reps {
    /* border: solid 1px lightgrey; */
    margin: 5%;
}

.add-exercise-list-item-rest {
    /* border: solid 1px lightgrey; */
    margin: 5%;
}

.add-exercise-list-item-rir {
    /* border: solid 1px lightgrey; */
    margin: 5%;
}


.exercise-delete-button {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 5px;
    border-radius: 5px;
    border: none;
    background: none;
    color: #131313
}

.exercise-delete-button:hover {
    cursor: pointer;
    color: darkgrey;
}








.error-message {
    color: red;
    
}






/* DEFAULT EXERCISE SECTION DYNAMIC DOM */


.default-exercise-sect-div {
    background-color: #525252;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAFAFA;
    
       
}











































