
/* BOILERPLATE STYLING */


*:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	font-family: 'Baskervville', serif;
	color: black;
	background-color: rgb(240, 240, 240);
}

h1, h2, h3 {
	font-family: 'Anton', sans-serif;
}






/* HEADER MAIN FOOTER NAV STYLING */

header {
    border: solid 1px black;
}

main {
    border: solid 1px red;
}

footer {
    border: solid 1px blue;
}

nav {
    border: solid 1px green;
}





/* ADD WORKOUT BUTTON MODAL */

.add-workout-modal-container { /* how we position it on the page */
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    position: fixed; /* Stay in place */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    /* Overlay background */
    
}

.add-workout-modal-content { /* the component window styling */
    background-color: #fefefe;
    margin: 25% auto; /* Centered */
    padding: 5%;
    border: 1px solid black;
    width: 50%;
    max-width: 600px;

}

#cancel1 {
    font-size: 28px;
    font-weight: bold;
}

#cancel1:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


/* ADD EXERCISE BUTTON MODAL */

.add-exercise-modal-container { /* how we position it on the page */
    display: none; /* Hidden by default */
    z-index: 1; /* Sit on top */
    position: fixed; /* Stay in place */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); 
    /* Overlay background */
    
}

.add-exercise-modal-content { /* the component window styling */
    background-color: #fefefe;
    margin: 25% auto; /* Centered */
    padding: 5%;
    border: 1px solid black;
    width: 50%;
    max-width: 600px;

}


#cancel2 {
    font-size: 28px;
    font-weight: bold;
}

#cancel2:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.error-message {
    color: red;
}